<div>
    <h2>Item List</h2>
  
    <input [(ngModel)]="newItem" placeholder="Add a new item">
    <button (click)="addItem()">Add</button>
  
    <ul>
      <li *ngFor="let item of items">
        <span *ngIf="!item.editing">{{ item.text }}</span>
        <input *ngIf="item.editing" [(ngModel)]="item.text">
        <button (click)="editItem(item)">Edit</button>
        <button (click)="removeItem(item)">Remove</button>
        <button *ngIf="item.editing" (click)="saveItem(item)">Save</button>
      </li>
    </ul>
  </div>