.container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    gap: 20px;
    margin: 7rem auto 2rem auto;
  }
  .parent-card {
    padding: 2rem;
    text-align: center;
    box-shadow: greenyellow 0 8px 10px;
    border-radius: 10px;
  }
  .img img{
width: 100%;
height:300px;
  }
  .desc h3{
    overflow: hidden;
    /* text-overflow: ellipsis; */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
   margin: .5rem auto;

  }
  .desc button{
    padding:.5rem 1.5rem;
    margin: .5rem auto;
    border-radius: 10px;
    border: 1px solid greenyellow;
    color: greenyellow;
    background-color: transparent;
    cursor: pointer;
  }
  .desc button:hover{
    color: #fff;
    background-color:  greenyellow;
  }